<section id="features">
  <div class="item">
    <img src="https://hectocommerce.com/img/pexels-pixabay-35550.8020419f.jpg" />
    <div class="content">
      <h3>Order Management</h3>
      <p>
        HectoCommerce is an aggregator of marketplaces like Amazon, Flipkart,
        Myntra, etc. Orders from stores of various marketplaces are consolidated
        into single Dashboard and bulk scheduling the orders for pickup is
        supported
      </p>
    </div>
  </div>
  <div class="item">
    <img src="https://hectocommerce.com/img/pexels-tiger-lily-4483610-com.f1337ac9.jpg" />
    <div class="content">
      <h3>Inventory Management</h3>
      <p>
        HectoCommerce Centralized inventory management system makes the
        inventory tracking across the marketplaces easy, leading to uniform
        stock distribution based on the sales analysis. This increases the cash
        flow and helps in easy stock rotation.
      </p>
    </div>
  </div>
  <div class="item">
    <img src="https://hectocommerce.com/img/pexels-cleyder-duque-3821385-com.abc2b2a5.jpg" />
    <div class="content">
      <h3>Warehouse Management</h3>
      <p>
        Multiple warehouses can be mapped to each store. The inventory in
        multiple stores is immediately updated once the stock in the warehouse
        is removed or added. Supports both marketplace warehouses and merchant
        warehouses. This helps to fulfil orders from the nearest warehouse and
        utilize the space more efficiently.
      </p>
    </div>
  </div>
  <div class="item">
    <img src="https://hectocommerce.com/img/pexels-photomix-company-106344-com.c7fb6b90.jpg" />
    <div class="content">
      <h3>Sales Analytical Dashboard</h3>
      <p>
        HectoCommerce sales dashboard displays the key metrics for all the
        marketplaces in a single page. Enables comparing the sales month wise,
        week wise and for any period to get clarity on the business decisions.
        HectoCommerce brings in the sales comparison location wise as well which
        helps to plan the inventory distribution across different cities.
      </p>
    </div>
  </div>
  <div class="item">
    <img src="https://hectocommerce.com/img/pexels-pixabay-50987-com.144b0066.jpg" />
    <div class="content">
      <h3>Payment Reconcilation</h3>
      <p>
        One of the major challenge in ecommerce is the reconciliation of the
        payments done by the marketplaces. HectoCommerce platform gives order
        wise and SKU wise remittance details in a single click. Finding out the
        profitability of the products is just a click away.
      </p>
    </div>
  </div>
</section>
